/* Sheffield Teaching Hospitals Foundation Trust

All rights reserved Sheffield Teaching Hospitals
Developed by: Andrew Duckworth 04-08-2014

*/

.jumbotron-heading{
  background-color:#0091C9;
}

.jumbotron{
  background-image: url('../img/three_web.jpg');
  background-size: contain;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/three_web.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/three_web.jpg', sizingMethod='scale')";
  background-position: center;
  margin-top: 40px;
}

.ie-kill{
  display:none;
}

.ie-feature-image{
  width:250px;
}

.ie-logo{
  width:150px;
}

.ie-brand{
  float:right;
}