@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*******************************************************
 * GLOBAL STYLES
 *******************************************************/

html {
  font-family: 'Montserrat', sans-serif;
}

body {
  padding-top: 20px;
  font-family: 'Montserrat', sans-serif;
}

/*******************************************************
 * UTILITY STYLES
 *******************************************************/

.no-margin {
  margin: 0px;
}

.head-room {
  margin-top: 15px;
}

.no-head-room {
  margin-top: 0px;
}

.light-text {
  color: white;
}

/*******************************************************
 * IMAGES STYLES
 *******************************************************/

.brand-logo {
  max-width: 300px;
  padding: 5px;
}

.img-feature {
  max-width: 250px;
}

.nurse-support-img{
  padding: 5px;
}

/*******************************************************
 * BUTTON STYLES
 *******************************************************/

.btn-nurse {
  border: 3px solid #B10DC9;
}

.btn-nurse:hover {
  margin-top: 0;
  border: 3px solid black;
}

a.btn-nurse {
  color: #B10DC9;
  background-color: white;
}

a.btn-nurse:hover {
  color: black;
  background-color: white;
}

a.btn-event{
  color:#fff;
  background-color:#B10DC9;
}

a.btn-event:hover{
  color:#B10DC9;
  background-color:#fff;
}

.btn-link {
  color: #B10DC9;
}

.btn-link:hover {
  color: black;
  text-decoration: none;
}


/*******************************************************
 * BOOTSTRAP OVERRIDES
 *******************************************************/

.jumbotron-heading {
  background-color: rgba(0, 145, 201, 0.82);
  padding: 5px;
}

.navbar-default {
  background-color: #FFFFFF;
}

.navbar-default .navbar-nav>li>a.focus {
  color: #B10DC9;
  font-weight: bold;
}

.navbar-default .navbar-nav>li>a.focus:hover {
  color: #B10DC9;
  font-weight: bold;
  text-decoration: underline;
}

a.navbar-brand.visible-xs {
  font-size: 100%;
}

.jumbotron {
  border-bottom: 10px solid #70D4FA;
  background-image: url('../img/header_images_nurses.jpg');
  background-size: cover;
  padding-bottom: 30px;
  background-repeat: no-repeat;
  min-height: 360px;
  background-position: center;
  padding-top: 200px;
}

.navbar-default .navbar-nav>li>a {
  color: #0091C9;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: #fff;
  background-color: #0091C9;
}

.navbar-nav {
  margin: 5px;
}

.navbar-default .navbar-brand {
  color: #0091C9;
  background-color: #fff;
}

.form-control {
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 0px solid #FFF;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  border-bottom: 1px solid blueviolet;
}


/*******************************************************
 * MAJOR SECTIONS
 *******************************************************/

.blue-text-padding {
  background-color: #0091C9;
  padding: 5px;
}

.nurse-white-padding {
  padding: 20px;
}

#nurse-features {
  padding: 35px;
  background-color: #0091C9;
}

#nurse-event-feature {
  background-image: url('../img/slide_two_nurses_2.png');
  min-height: 350px;
 /* may need to be 800px for large monitors */
  margin-top: 30px;
  /*padding:50px;*/
  background-size: 100%;
  background-repeat: no-repeat;
}

#nurse-first-section {
  margin-top: 500px;
}

#nurse-footer {
  padding: 30px;
  background-color: #efefef;
  border-top:10px solid #CACACA;
}

.nurse-image-feature {
  max-height: 420px;
  max-width: 279px;
  min-height: 200px;
}

#nurse-event {
  padding: 70px 50px 20px 50px;
}

#event-map h2 {
  background-color: #0091C9;
  color: #fff;
  padding: 10px 5px;
}

#main-benefits {
  padding: 15px;
  background-color: #0091C9;
  color: #fff;
  margin-bottom: 45px;
}

#sth-return {
  position: fixed;
  bottom: 0px;
  right: 20px;
  padding: 5px;
  background-color: #B10DC9;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

#sth-return a {
  color: white;
}

#event-focus: {
  color: red;
}

.nurse-blue-padding {
  padding: 50px;
  background-color: #0091C9;
  border-top: 10px solid #70D4FA;
  border-bottom: 10px solid #70D4FA;
}

/*******************************************************
 * MAILCHIMP
 *******************************************************/

input#mc-embedded-subscribe {
  background-color: white;
  color: #B10DC9;
}

div#mc_embed_signup h2 {
  background-color: #B10DC9;
  color: #fff;
  padding: 10px 5px;
}

.indicates-required {
  color: red;
}

/*******************************************************
 * RWD Section
 *******************************************************/

@media (max-width: 640px) {
  .hidden-small {
    display: none;
  }
}

@media (max-width: 1200px) {
  .brand-logo {
    display: none;
  }
}

@media (max-width: 395px) {
  .jumbotron h2 {
    font-size: 180%;
  }
}

@media (min-width: 1220px) {
  .jumbotron {
    padding-top: 300px;
  }
}

@media (min-width: 1400px) {
  .jumbotron {
    padding-top: 450px;
  }
}

@media (min-width: 1650px) {
  .jumbotron {
    padding-top: 550px;
  }
}

@media (max-width: 500px) {
  .jumbotron {
    padding-top: 20px;
  }
}

@media (max-width: 370px) {
  .nurse-image-feature {
    max-height: auto;
    max-width: 100%;
    min-height: 200px;
  }
}