@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*******************************************************
 * GLOBAL STYLES
 *******************************************************/

html{
  font-family: 'Montserrat', sans-serif;
}


body{
  padding-top: 20px;
  font-family: 'Montserrat', sans-serif;
}

.brand-logo {
  max-width: 300px;
  padding: 5px;
}

.nurse-blue-padding {
  padding: 50px;
  background-color: #0091C9;
  border-top: 10px solid #70D4FA;
  border-bottom: 10px solid #70D4FA;
}

.jumbotron{
  border-bottom: 10px solid #70D4FA;
  background-image: url('../img/header_images_nurses.jpg');
  background-size: cover;
  padding-bottom: 30px;
  background-repeat: no-repeat;
  min-height: 360px;
  background-position:center;
  padding-top:200px;
}

.nurse-white-padding {
  padding: 20px;
}

.navbar-default {
  background-color: #FFFFFF;
}

.light-text{
  color:white;
}

.blue-text-padding{
  background-color:#0091C9;
  padding:5px;
}

.jumbotron-heading{
  background-color:rgba(0, 145, 201, 0.82);
  padding:5px;
}

.btn-nurse {
	border: 3px solid #B10DC9;
}

.btn-nurse:hover {
	margin-top: 0;
	border: 3px solid black;
}

a.btn-nurse {
  color:#B10DC9;
  background-color: white;
}

a.btn-nurse:hover {
  color:black;
  background-color:white;
}

.btn-link {
  color:#B10DC9;
}

.btn-link:hover {
  color:black;
  text-decoration:none;
}

.head-room{
  margin-top:15px;
}

.no-head-room{
  margin-top:0px;
}

.navbar-default .navbar-nav>li>a.focus{
  color:#B10DC9;
  font-weight:bold;
}

.navbar-default .navbar-nav>li>a.focus:hover{
  color:#B10DC9;
  font-weight:bold;
  text-decoration:underline;
}

a.navbar-brand.visible-xs{
  font-size:100%;
}

.img-feature{
  max-width:300px;
}

#event-focus:{
  color:red;
}
/*******************************************************
 * BOOTSTRAP OVERRIDES
 *******************************************************/

.navbar-default .navbar-nav>li>a {
  color: #0091C9;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: #fff;
  background-color: #0091C9;
}


.navbar-nav {
  margin: 5px;
}

.navbar-default .navbar-brand {
  color: #0091C9;
  background-color:#fff;
}

.form-control {
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 0px solid #FFF;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  border-bottom: 1px solid blueviolet;
}


/*******************************************************
 * MAJOR SECTIONS
 *******************************************************/

#nurse-features{
  padding:35px;
  background-color:#0091C9;
}

#nurse-main-features{
  
}

#nurse-event-feature {
  background-image: url('../img/slide_two_nurses_2.png');
  min-height: 350px; /* may need to be 800px for large monitors */
  margin-top: 30px;
  /*padding:50px;*/
  background-size: 100%;
  background-repeat: no-repeat;
}

#nurse-first-section {
  margin-top: 500px;
}

#nurse-footer{
  padding:30px;
  background-color:#efefef;
}

.nurse-image-feature{
  max-height:420px;
  max-width:279px;
  min-height:200px;
}

#nurse-event{
  padding:50px;
  padding-top:60px;
}

#event-map h2{
  background-color:#0091C9;
  color:#fff;
  padding: 10px 5px;
}

/*******************************************************
 * MAILCHIMP
 *******************************************************/

input#mc-embedded-subscribe {
  background-color: white;
  color: #B10DC9;
}

div#mc_embed_signup h2{
  background-color:#B10DC9;
  color:#fff;
  padding: 10px 5px;
}

/*******************************************************
 * RWD Section
 *******************************************************/

@media (max-width: 640px) {
  .hidden-small{
    display:none;
  }
}

@media (max-width: 1200px) {
  .brand-logo{
    display:none;
  }
}

@media (max-width: 395px) {
  .jumbotron h2{
    font-size:180%;
  }
}

@media (min-width: 1220px) {
  .jumbotron{
    padding-top:300px;
  }
}

@media (max-width: 500px) {
  .jumbotron{
    padding-top:20px;
  }
}



