@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*******************************************************
 * GLOBAL STYLES
 *******************************************************/

html{
  font-family: 'Montserrat', sans-serif;
}


body {
  padding-top: 20px;
  font-family: 'Montserrat', sans-serif;
}

.brand-logo {
  max-width: 300px;
  padding: 5px;
}

.nurse-blue-padding {
  padding: 80px;
  background-color:#0091C9;
}

.nurse-white-padding {
  padding: 80px;
}

.navbar-default {
  background-color: #FFFFFF;
}

.light-text{
  color:white;
}

.blue-text-padding{
  background-color:#0091C9;
  padding:5px;
}

.btn-nurse {
	border: 3px solid #B10DC9;
}

.btn-nurse:hover {
	margin-top: 0;
	border: 3px solid black;
}

a.btn-nurse {
  color:#B10DC9;
  background-color: white;
}

a.btn-nurse:hover {
  color:black;
  background-color:white;
}

.btn-link {
  color:#B10DC9;
}

.btn-link:hover {
  color:black;
  text-decoration:none;
}

.head-room{
  margin-top:15px;
}

.no-head-room{
  margin-top:0px;
}
/*******************************************************
 * BOOTSTRAP OVERRIDES
 *******************************************************/

.navbar-default .navbar-nav>li>a {
  color: #0091C9;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: #fff;
  background-color: #0091C9;
}


.navbar-nav {
  margin: 5px;
}


/*******************************************************
 * MAJOR SECTIONS
 *******************************************************/

#nurse-features{
  padding:35px;
  background-color:#0091C9;
}

#nurse-main-features{
  
}

#nurse-event-feature {
  background-image: url('slide_two_nurses_2.png');
  min-height: 350px; /* may need to be 800px for large monitors */
  margin-top: 30px;
  /*padding:50px;*/
  background-size: 100%;
  background-repeat: no-repeat;
}

#nurse-first-section {
  margin-top: 500px;
}

#nurse-footer{
  padding:30px;
  background-color:#efefef;
}

@media (max-width: 1200px) {
  .brand-logo{
    display:none;
  }
}

@media (max-width: 1380px) {
  #nurse-first-section  {
    margin-top: 400px;
  }
}

@media (max-width: 1183px) {
  #nurse-first-section  {
    margin-top: 300px;
  }
}

@media (max-width: 963px) {
  #nurse-first-section  {
    margin-top: 400px;
  }
}

@media (max-width: 640px) {
  #nurse-first-section  {
    margin-top: 170px;
  }
}



